<footer>
  <p>
    <% if(lang==='lo'){ %>ຕິດຕໍ່: +8562058568938 | Facebook: PV autocar ຂາຍລົດມືສອງ<% } %>
    <% if(lang==='en'){ %>Contact: +8562058568938 | Facebook: PV autocar Used Cars<% } %>
    <% if(lang==='cn'){ %>联系方式: +8562058568938 | Facebook: PV二手车<% } %>
  </p>
</footer>